.form-control {
    background-color: powderblue;
    font-weight: bold;
    color: palevioletred;
}
.restaurent{
    width: 100%;
    margin: 0;
    height: 100vh;
    padding: 0;
    background-image: url("https://a.cdn-hotels.com/gdcs/production184/d1421/341f6736-0ac6-4c59-9a93-1971b64decd8.jpg");
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    margin-bottom: 10px;
}
img{
    border-radius: 90%;
}