.sectionimages{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 2130px;
    height:785px;
}
.swimming{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 2130px;
    height:785px;
}
.eat{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 2130px;
    height:900px;
}
.tourrist{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 2130px;
    height:1000px;  
}
.city{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 2130px;
    height:1000px;  
}
.ankra{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 2130px;
    height:1000px;  
}