.card {
    margin-top: 15px;
    width: 550px;
    padding: 45px;
    position: absolute;
    top: 4%;
    left: 65%;
    background-color: rgb(136, 96, 47, .5);
}
.registration{
    width: 100%;
    margin: 0;
    height: 100vh;
    padding: 0;
    background-image: url("https://cdn.wallpapersafari.com/12/91/ZhFtCE.jpg");
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    margin-bottom: 10px; 
}