 .images{
    width: 100%;
    margin: 0;
    height: 100vh;
    padding: 0;
    background-image: url("https://a.cdn-hotels.com/gdcs/production10/d1672/6d376854-ca74-414c-b907-9228326100c3.jpg");
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    margin-bottom: 10px;
}
img{
    width: 10%;
    border-radius:95%;
}
 .essay{
    font-size: 35px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: steelblue;
    text-align:center;
    margin-top: 200px;
    background-color: rgba(234, 121, 28, 0.718);
}
.Home{
    position: absolute;
    margin-left: 54%;
    margin-top: 30px;
    color: brown;
}
.Menu{
position: absolute;    
margin-top:30px;
margin-left: 60%;
color: brown;
}
.Services{
    position: absolute;
    margin-left: 65%;
    color: brown;
    margin-top: 30px;
}

h1{
    font-size: 20px;
    font-family: cursive;
}
.login{
    position: absolute;
    margin-left: 71%;
    color: brown;
    margin-top: 30px;
}
.signup{
    position: absolute;
    margin-left: 75%;
    color: brown;
    margin-top: 30px;
}
 
.logo1{
width: 100px;
margin-top:250px;
margin-left:950px;
}
.logo2{
    width: 100px;
    margin-top:250px;
}
.logo3{
    width: 100px;
    margin-top:250px;
}
.logo4{
    width: 100px;
    margin-top: 250px;
}
