<div class="images">
    <div class="logo">
        <a href=""><img
            src="https://img.freepik.com/premium-vector/turkish-restaurant-turkey-food-cafe-mosque-icon_8071-7360.jpg"
            alt=""></a>
            <a href="" class="Home"><h1>Home</h1></a>
            <a href="" class="Menu"><h1>Menu</h1></a>
            <a href="" class="Services"><h1>Services</h1></a>
            <a routerLink="/login" class="login"><th>Login </th></a>
            <a routerLink="/signup" class="signup">Singup</a>
    </div>
    <p class="essay">
        Temel Malzemeler başta et, sebze ve baklagiller olmak üzere,
        Türk yemekleri genellikle çorbadır, bir çeşit güveç veya et suyundan oluşur. Bu nedenle, Türkler arasında ekmek tüketimi çok fazla olma eğilimindedir.
        Türk kebapları, döner kebap. Mantı ve bazı patlıcan yemekleri kebap, Türk mutfağının markalarıdır.
         <br>
         <br>
    </p>
   <a href="https://www.facebook.com/"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/51/Facebook_f_logo_%282019%29.svg/2048px-Facebook_f_logo_%282019%29.svg.png" class="logo1" alt=""></a>
   <a href="https://www.instagram.com/"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/95/Instagram_logo_2022.svg/800px-Instagram_logo_2022.svg.png" class="logo2" alt=""></a>
   <a href="https://twitter.com/"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4f/Twitter-logo.svg/1200px-Twitter-logo.svg.png" class="logo3" alt=""></a>
   <a href="https://www.whatsapp.com/"><img src="https://www.liblogo.com/img-logo/wh491wad6-whatsapp-icon-logo-whatsapp-icon-whatsapp-logo-call-logo-instagram-logo-new.png" class="logo4" alt=""></a>
</div>